<h1>Hello</h1>

<button (click)="fetchPagesOneByOne()">Fetch OneByOne</button>
<button (click)="fetchPagesSameTime()">Fetch SameTime</button>

<div *ngFor="let page of orderedPages">
  <table class="order-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Employee ID</th>
        <th>Order Date</th>
        <th>Ship Name</th>
        <th>Ship City</th>
        <th>Ship Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of page">
        <td>{{ order.orderId }}</td>
        <td>{{ order.customerId }}</td>
        <td>{{ order.employeeId }}</td>
        <td>{{ order.orderDate | date:'short' }}</td>
        <td>{{ order.shipName }}</td>
        <td>{{ order.shipCity }}</td>
        <td>{{ order.shipCountry }}</td>
      </tr>
    </tbody>
  </table>
</div>
